.width-42 {
  width: 42px !important;
}

.height-42 {
  height: 42px !important;
}

.title-padding-horizontal {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-horizontal-4px {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.w-100 {
  width: 100%;
}

.button-float-right {
  float: right;
  margin: 0;
  width: 120px;
  margin-right: -4px;
}

.avatar {
  width: 50px;
  height: 50px;
  position: relative;
}

.online-dot {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(-0%, -100%);
  height: 15px;
  width: 15px;
  border-radius: 25px;
  border: 3px solid #ffffff;
  background-color: var(--ion-color-success, #2dd36f);
}

.recent-chats ion-item {
  --inner-padding-end: 0px !important;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.color-primary {
  color: var(--ion-color-primary, #3880ff);
}

.color-dark {
  color: var(--ion-color-dark, #222428);
}

.color-medium {
  color: var(--ion-color-medium, #92949c);
}

.custom-badge {
  background-color: var(--ion-badge-color, #0089ff); 
  border-radius: 25px;
  width: 90%;
  max-width: 40px;
  height: 90%;
  max-height: 24px;
  position: relative;
}

.message-count {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -47%);
  color: #ffffff;
}

.margin-top-6 {
  margin-top: 6px;
}